<h1>New Idea</h1>

<%= render 'form', idea: @idea %>

<%= link_to 'Back', '/ideas/' %>

<script>
  var form = document.getElementsByTagName('form')[0];
  form.setAttribute('action','/ideas/');
</script>
