//= require idb

let CACHE_VERSION = 'v1';
let CACHE_NAME = 'sw-cache-' + CACHE_VERSION;
let FORM_CACHE = 'sw-form-' + CACHE_VERSION;
let IDEAS_CACHE = 'sw-ideas-' + CACHE_VERSION;
let IMG_CACHE = 'sw-imgs-' + CACHE_VERSION;
let DB_NAME = 'sw-db-' + CACHE_VERSION;

let idb = new IDB(self.indexedDB);
idb.upgradeDB(DB_NAME, 1, (db) => {

  db.onerror = (event) => {
     console.log('Error loading database.');
  };

  db.createObjectStore('ideas', {keyPath: 'id'});
  db.createObjectStore('requests', {keyPath: 'timestamp'});

});

function onInstall(event) {
  console.log('[Serviceworker]', "Installing!", event);
  grabForms();
  event.waitUntil(
    caches.open(CACHE_NAME).then(function prefill(cache) {
      return cache.addAll([
        // make sure serviceworker.js is not required by application.js
        // if you want to reference application.js from here
        '<%= asset_path "application.css" %>',
        '/offline.html',
        '/',
        '/ideas/'
      ]);
    })
  );
}

function onActivate(event) {
  console.log('[Serviceworker]', "Activating!", event);
  event.waitUntil(
    caches.keys().then((cacheNames) => {
      return Promise.all(
        cacheNames.filter((cacheName) => {
          // Return true if you want to remove this cache,
          // but remember that caches are shared across
          // the whole origin
          return cacheName.indexOf(CACHE_VERSION) === -1;
        }).map(function(cacheName) {
          return caches.delete(cacheName);
        })
      );
    })
  );
}

// Borrowed from https://github.com/TalAter/UpUp
function onFetch(event) {
  let method = event.request.method;
  let url = new URL(event.request.url);
  console.log(method, url.pathname);

  switch (method) {
    case 'GET':
      if (url.pathname.startsWith('/uploads/')) {
        event.respondWith(servePhoto(event.request, url));
        return;
      } else if (url.pathname.match(/\/ideas\/[0-9]+\/edit/)) {
        event.respondWith(serveEdit(event.request, url));
        return;
      } else if (url.pathname.match(/\/ideas\/[0-9]+/)) {
        event.respondWith(serveShow(event.request, url));
        return;
      } else if (url.pathname == '/ideas/new') {
        console.log(url.pathname);
        return;
      } break;
    case 'POST':
    case 'PUT':
    case 'DELETE':
      event.respondWith(requests(event.request));
      return;
  }

  event.respondWith(
    // try to return untouched request from network first
    fetch(event.request).catch(() => {
      // if it fails, try to return request from the cache
      return caches.match(url.pathname).then((response) => {
        if (response) return response;
        // if not found in cache, return default offline content for navigate requests
        console.log('[Serviceworker]', "Fetching offline content", event);
        return caches.match('/offline.html');
      })
    })
  );
}

function servePhoto(request, url) {
  // open caches
  return caches.open(IMG_CACHE).then((cache) => {
    // find a match to url path
    return cache.match(url.pathname).then((response) => {
      // if it's found return it
      if (response) return response;
      // else fetch the image to be cached and served
      return fetch(request).then((networkResponse) => {
        cache.put(url.pathname, networkResponse.clone());
        return networkResponse;
      }).catch(() => {
        console.log('Image not cached due to a network failure.');
        return caches.match('/ideas/');
      });
    });
  });
}

function storeJSON(url) {
  //check for support
  if (!idb) {
    console.log('This browser doesn\'t support IndexedDB');
    return;
  }

  // setup request to get JSON
  let jsonRequest = new Request(url + '.json');

  // fetch the JSON
  fetch(jsonRequest).then((response) => {
    response.json().then((data) => {
      idb.addObject('ideas', data);
    });
  }).catch(() => {
    console.log('Data not indexed due to network failure.');
    return caches.match('/ideas/');
  });
}

function serveShow(request, url) {
  storeJSON(url);
  return caches.open(CACHE_NAME).then((cache) => {
    return cache.match(url.pathname).then((response) => {
      if (response) return response;
      return fetch(request).then((networkResponse) => {
        cache.put(url.pathname, networkResponse.clone());
        return networkResponse;
      }).catch(() => {
        console.log('Network failure.');
        return caches.match('/ideas/');
      });
    });
  });
}

function serveEdit(request, url) {
  return caches.open(CACHE_NAME).then((cache) => {
    return cache.match(url.pathname).then((response) => {
      if (response) return response;
      return fetch(request).then((networkResponse) => {
        cache.put(url.pathname, networkResponse.clone());
        return networkResponse;
      }).catch(() => {
        console.log('Data not indexed due to network failure.');
        return caches.match('/ideas/');
      });
    });
  });
}

function serialize(request) {
  let headers = {};
  for (let pair of request.headers.entries()) {
    headers[pair[0]] = pair[1];
  }

  let req = {
    headers: headers,
    url: request.url,
    method: request.method,
    //mode: request.mode,
    credentials: request.credentials,
    cache: request.cache,
    redirect: request.redirect,
    referrer: request.referrer
  };

  let data = {
    timestamp: (new Date()).toString(),
    request: req
  };

  return request.clone().text().then((body) => {
    data.request.body = body;
    return Promise.resolve(data);
  });
}

function storeRequest(request) {
  return serialize(request).then((data) => {
    idb.addObject('requests', data);
  }).then(() => {
    return caches.match('/ideas/');
  });
}

function requests(request) {
  if (navigator.onLine)
    return fetch(request).then((response) => {
      return response;
    }).catch((e) => {
      return caches.match('/offline.html');
    });

  return storeRequest(request);
}

function dequeue() {
  console.log('dequeue');
  idb.getAll('requests', (requests, dbOpen) => {
    for (let r of requests) {
      let request = deserialize(r.request);
      console.log(request);

      fetch(request).then((response) => {
        if (!response) return;

        let tx = dbOpen.result.transaction('requests', 'readwrite');
        tx.objectStore('requests').delete(r.timestamp);

        console.log('Deleted', r);

      }).catch((err) => { console.log(err) });
    }
  });
}

function deserialize(data) {
  let url = new URL(data.url);

  let init = {
    headers: data.headers,
    method: data.method,
    //mode: data.mode,
    credentials: data.credentials,
    cache: data.cache,
    redirect: data.redirect,
    referrer: data.referrer,
    body: data.body
  }

  return new Request(url.pathname, init);
}

function grabForms() {
   return caches.open(FORM_CACHE).then((form) => {
     return caches.open(IDEAS_CACHE).then((idea)=> {
       for (let i = 0; i < 3; i++) {
         fetch('/ideas/new').then((newForm) => {
           fetch('/ideas/').then((newIdea)=> {
             form.put('/ideas/new/'+i, newForm.clone());
             idea.put('/ideas/'+i, newIdea.clone());
             return newIdea;
           });
           return newForm;
         }).catch((e) => { console.log(e) });
       }
     });
  });
}

self.addEventListener('install', onInstall);
self.addEventListener('activate', onActivate);
self.addEventListener('fetch', onFetch);
self.addEventListener('message', (event) => {
  if (event.data.action === 'skipWaiting') {
    self.skipWaiting();
  }
});

self.addEventListener('online', dequeue);
